<div class="relative">
    <div class="flex bg-red-50 content-between flex-row justify-between p-5">
        <a routerLink="">
            Exam Certification
        </a>
        <div>
            <div class="w-10 h-10 rounded-full cursor-pointer flex items-center justify-center bg-slate-700" 
                (mouseover)="showProfileSettings()" (mouseout)="hindeProfileSettings()">
                <span class="uppercase font-bold text-white">ca</span>
            </div>
    
            <!-- <button mat-flat-button color="primary" routerLink="authentication">Criar conta</button> -->
        </div>
    </div>
    <!-- <div [hidden]="true" class="bottom-[-200px] right-7 bg-white border absolute p-5 flex flex-col items-start justify-start">
        <div class="flex items-center justify-center">
            <div class="w-16 h-16 rounded-full flex items-center justify-center bg-slate-700">
                <span class="uppercase font-bold text-white">ca</span>
            </div>
            <div class="flex flex-col ml-5">
                <span class="font-bold">Carlos Augusto</span>
                <span class="text-sm text-gray-400">carlosaugustogmail.com</span>
            </div>
        </div>
        <ul class="mt-5">
            <li>
                <span class="hover:text-blue-500 cursor-pointer">Fale conosco</span>
            </li>
            <li>
                <span class="hover:text-blue-500 cursor-pointer">Sair</span>
            </li>
        </ul>
    </div> -->
</div>
