<div class="flex items-center justify-center h-full">
    <div class="bg-slate-500 p-10 flex flex-col rounded items-center w-1/3">
        <div class="flex flex-col items-center">
            <span class="text-2xl text-white font-bold">Criar conta</span>
            <span class="text-gray-300 mb-5">Que bom tê-lo com a gente =)</span>
        </div>
        
        <div class="border p-4 rounded w-full cursor-pointer">
            <span>
                Continuar com Google
            </span>

        </div>
        <div class="border p-4 rounded w-full mt-5 cursor-pointer">
            <span>
                Continuar com Github
            </span>
        </div>
        <span>ou</span>

        <form class="flex flex-col w-full">
            <mat-form-field class="w-full">
              <mat-label>E-mail ou número de celular</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Nome de usuário</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Senha</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-flat-button color="primary" class="mb-5">Entrar</button>
            <div>
                <span>Já tem uma conta?</span>
                <span class="text-blue-500 cursor-pointer"> Entrar agora!</span>
            </div>
        </form>
    </div>
</div>