<div class="flex items-center justify-center h-full">
    <div class="bg-slate-500 p-10 flex flex-col rounded items-center w-1/3">
        <div class="flex flex-col items-center">
            <span class="text-2xl text-white font-bold">Bem vindo de volta!</span>
            <span class="text-gray-300 mb-5">Estamos muito animados em te ver novamente</span>
        </div>
        
        <div class="border p-4 rounded w-full cursor-pointer">
            <span>
                Continuar com Google
            </span>

        </div>
        <div class="border p-4 rounded w-full mt-5 cursor-pointer">
            <span>
                Continuar com Github
            </span>
        </div>
        <span>ou</span>

        <form class="flex flex-col w-full" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="emailInput" class="font-bold text-gray-300" [ngStyle]="{'color': emailError && '#913831'}">Email * {{emailError && '-'}} {{emailError}}</label>
                <mat-form-field class="w-full">
                  <input matInput formControlName="email" id="emailInput" type="email"/>
                </mat-form-field>
            </div>

            <div>
                <label for="passwordInput" class="font-bold text-gray-300" [ngStyle]="{'color': passwordError && '#913831'}">Senha * {{passwordError && '-'}} {{passwordError}}</label>
                <mat-form-field class="w-full">
                    <input matInput formControlName="password" id="passwordInput" type="password"/>
                </mat-form-field>
            </div>

            <span class="text-blue-500 cursor-pointer" (click)="forgotPassword()">Esqueceu a senha?</span>
            <button mat-flat-button color="primary" class="mb-5" [disabled]="!userForm.valid">Entrar</button>
            <div>
                <span>Ainda não tem uma conta?</span>
                <a class="text-blue-500 cursor-pointer" routerLink="signup"> Registre-se agora!</a>
            </div>

        </form>
    </div>
</div>